.header{
    background-color: blue;
    height: 6%;
    width: 100%;
    
}

h1{
    color: white;
    font-style: italic;
    text-align: center;
}

.container{
    margin: auto;
    width: 8%;
    padding: 10px;
}

table {
    width: 100%;
    border: 1px solid #ddd;
}

th, td {
    text-align: left;
    padding: 8px;
}

.footer{
    background-color: blue;
    height: 2%;
    width: 100%;
}

p{
    color: white;
    font-style: normal;
    text-align: center;
}

/* .table{
    width: auto;
    height: auto;
    overflow: scroll;
} */